.container2 {
  font-family: 'Roboto Condensed',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */    
@media only screen and (max-width: 479px){
    .container2 { width: 100%; }
}
@media only screen and (max-width: 800px){
    .container2 { width: 100%; }
}
.c{
	border-color: #251328;
}
.x{
	font-size: 7.5rem;
}
.font{
	font-family: 'Oswald', sans-serif;
}
.f222{
	font-family: 'Anton';
}

